body{
    background-color: rgb(194, 183, 178);
}
.center{
    display: flex;
    justify-content: center;
}

#div1 {
    width: 100px;
    height: 100px;
    transform:skewx(10deg);
  }
 
  #div2 {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    background-color: rgb(47, 241, 241);
    margin-top:100px;
    transition:width 2s;
  }
  #div2:hover{
    width:200px;
  }
  #div3 {
    width:50px ;
    height:50px;
    margin-top:50px;
    transition: width 2s, height 2s, transform 2s;
  }
  
  #div3:hover {
    width:100px;
    height:100px;
    transform: rotate(180deg);
  }